<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="column centered-form">
            <form id="formCompra">
                <h3>Compra de Criptomonedas</h3>
                <!-- Form para lista de usuarios -->
                <div class="form-group .align-items-center">                        
                    <label for="seleccionarUsuario">Usuario</label>
                    <select class="form-control" id="idusuario">
                        <option>BUSN123ABC</option>                                       
                    </select>
                </div>
        
                <!-- Form para tipo de operacion -->
                <div class="form-group">            
                    <label for="seleccionarOperacion">Tipo de operación</label>
                    <select class="form-control" id="tipooperacion">
                        <option>Compra</option>
                        <option>Venta</option>                
                    </select>
                </div>
        
                <!-- Form para lista de criptomonedas -->
                <div class="form-group">            
                    <label for="seleccionarCripto">Criptomoneda</label>
                    <select class="form-control" id="idcripto">
                        <option>BTC - Bitcoin</option>
                        <option>ETH - Ethereum</option>
                        <option>USTD - Tether</option>
                        <option>XRP - XRP</option>                
                        <option>BCH - Bitcoin Cash</option>
                    </select>
                </div>
        
                <!-- Form para monto -->
                <div class="form-group">
                    <label for="descripcionOperacion">Monto de operación</label>
                    <input class="form-control form-control-sm" type="text" id="montogastado" placeholder="$">            
                </div>
        
                <!-- Form para descripcion de operacion -->
                <div class="form-group">
                    <label for="descripcionOperacion">Descripción de operación</label>
                    <textarea class="form-control" id="descripcion" rows="2"></textarea>
                </div>
                
                <!-- Boton para Submit de Operacion -->
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary mb-2">Realizar operación</button>
                </div>
                
            </form>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        
        const fecha = date.getDate();
        $(document).on("submit", "#formCompra", function(evt)
        {    
                     
            idUsuario = $("#idusuario").val();
            tipoOperacion = $("#tipooperacion").val();
            idCripto = $("#idcripto").val();
            montoGastado = $("#montogastado").val();
            descripcionOperacion = $("#descripcion").val();

            data = {
				"idusuario" : idUsuario,
                "tipooperacion" : tipoOperacion,
                "descripcion": descripcionOperacion,
                "idcripto": idCripto,
                "montogastado": montoGastado,
                "fecha"
                
            };

            $.ajax({
				url : "http://localhost:3000/Movimientos",
				type : "POST",
				cache : false,
				contentType : 'application/json',
				dataType : "json",
				processData : false,
				data : JSON.stringify(data),
			}).done(function(data) {
                console.log(data);                
 			}).fail( function() {
                alert ("La operación no pudo realizarse."); 
            }); 
            }

        });
    </script>

</body>
</html>