<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form>
        <h3>Compra de Criptomonedas</h3>
        <!-- Form para lista de usuarios -->
        <div class="form-group">                        
            <label for="seleccionarUsuario">Usuario</label>
            <select class="form-control" id="usuario">
                <option>1</option>
                <option>2</option>
                <option>3</option>                
            </select>
        </div>

        <!-- Form para tipo de operacion -->
        <div class="form-group">            
            <label for="seleccionarOperacion">Tipo de operacion</label>
            <select class="form-control" id="usuario">
                <option>Compra</option>
                <option>Venta</option>                
            </select>
        </div>

        <!-- Form para  -->
        <div class="form-group">            
            <label for="seleccionarOperacion">Tipo de operacion</label>
            <select class="form-control" id="usuario">
                <option>Compra</option>
                <option>Venta</option>                
            </select>
        </div>

    </form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>